:root {
  --active: rgb(0, 255, 170);
  --start: rgb(0, 238, 255);
  --goal: rgb(255, 0, 157);
  --path: rgb(255, 252, 52);
}
.cell {
  width: 1.5em;
  height: 1.5em;
  border: 2px solid;
  margin-top: 1em;
  border-radius: 5px;
}
.start {
  background-color: var(--start);
}
.goal {
  background-color: var(--goal);
}
.unactive {
  background-color: white;
}
.active {
  background-color: var(--active);
  animation-name: circle-fill;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.path {
  background-color: var(--path);
  animation-name: path-fill;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.hover {
  border-color: rgb(0, 202, 135);
}
@keyframes circle-fill {
  0% {
    clip-path: circle(0%);
    background-color: rgb(255, 238, 0);
  }
  50% {
    clip-path: circle(100%);
  }
  100% {
    clip-path: circle(100%);
    background-color: rgb(0, 255, 170);
  }
}

@keyframes path-fill {
  0% {
    clip-path: circle(0%);
    background-color: var(--goal);
  }
  50% {
    clip-path: circle(100%);
  }
  100% {
    clip-path: circle(100%);
    background-color: var(--path);
  }
}
